<nav class="bg-[#197278]">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="flex items-center justify-between h-16">
            <div class="flex items-center">
                <!-- Logo -->
                <a href="#" class="text-white text-2xl font-bold">
                    CyclOO
                </a>
                <!-- Links for larger screens -->
                <div class="hidden md:block">
                    <div class="ml-10 flex items-baseline space-x-4">
                        <a href="{{ path('app_home') }}" class="desktop-navbar-link">Accueil</a>
                        <a href="{{ path('app_article_index') }}" class="desktop-navbar-link">Actualités</a>
                        <a href="{{ path('app_itinerary') }}" class="desktop-navbar-link">Itinéraire</a>
                        <a href="{{ path('app_forum_index') }}" class="desktop-navbar-link">Forum</a>
                    </div>
                </div>
            </div>

            {% if app.user %}
                <div class="relative">
                    <button
                        id="user-menu-button"
                        type="button"
                        class="flex items-center text-sm rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white"
                        aria-expanded="false"
                        aria-haspopup="true"
                    >
                        <img class="h-8 w-8 rounded-full" src="{{ app.user.getprofilePictureUrl() }}" alt="User Avatar">
                    </button>

                    <!-- Dropdown menu -->
                    <div
                        id="user-menu"
                        class="hidden absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg py-1 ring-1 ring-black ring-opacity-5 focus:outline-none z-10"
                    >

                        {% if is_granted('ROLE_MODERATOR') %}
                        <a
                        href="{{ path('app_article_new') }}"
                        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                        >
                            Créer un article
                        </a>
                        <a
                        href="{{ path('app_article_category_index') }}"
                        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                        >
                            Categories du blog
                        </a>
                        {% endif %}
                        <a
                            href="{{ path('app_account') }}" 
                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                        >
                            Mon compte
                        </a>
                        <a
                            href="{{ path('app_logout') }}"
                            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                        >
                            Deconnexion
                        </a>
                    </div>
                </div>
            {% else %}
                <!-- Links for non-logged-in users -->
                <div class="hidden md:block">
                    <div class="ml-4 flex items-center">
                        <a href="{{ path('app_user_login') }}" class="desktop-navbar-link">Connexion</a>
                        <a href="{{ path('app_register') }}" class="desktop-navbar-link">Inscription</a>
                    </div>
                </div>
            {% endif %}

            <!-- Mobile menu button -->
            <div class="-mr-2 flex md:hidden">
                <button id="mobile-menu-button" type="button" class="bg-[#283D3B] inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white" aria-expanded="false">
                    <span class="sr-only">Ouvrir le menu</span>
                    <!-- Hamburger Icon -->
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <!-- Mobile Menu -->
    <div class="md:hidden hidden" id="mobile-menu">
        <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
            <a href="{{ path('app_home') }}" class="mobile-navbar-link">Accueil</a>
            <a href="{{ path('app_article_index') }}" class="mobile-navbar-link">Actualités</a>
            <a href="{{ path('app_itinerary') }}" class="mobile-navbar-link">Itinéraire</a>
            <a href="{{ path('app_forum_index') }}" class="mobile-navbar-link">Forum</a>
            {% if not app.user %}
                <hr/>
                <a href="{{ path('app_user_login') }}" class="mobile-navbar-link">Connexion</a>
                <a href="{{ path('app_register') }}" class="mobile-navbar-link">Inscription</a>
            {% endif %}
        </div>
    </div>
</nav>
