{{ form_start(form, { 
	'attr': { 
		'class': 'space-y-4', 
	} 
}) }}

{% if form_errors(form) %}
	<div class="text-red-500 text-sm">
		{{ form_errors(form) }}
	</div>
{% endif %}

<div>
	{{ form_label(form.title, "Titre", { 'label_attr': { 'class': 'block text-sm font-medium' } }) }}
	{{ form_widget(form.title, { 'attr': { 'class': 'w-full border-gray-300 rounded-md shadow-sm p-2 mt-1 text-black' } }) }}
	{{ form_errors(form.title) }}
</div>

<div>
	{{ form_label(form.category, "Catégorie", { 'label_attr': { 'class': 'block text-sm font-medium' } }) }}
	{{ form_widget(form.category, { 'attr': { 'class': 'w-full border-gray-300 rounded-md shadow-sm p-2 mt-1 text-black' } }) }}
	{{ form_errors(form.category) }}
</div>

<div>
	{{ form_label(form.strandFirst, "Description", { 'label_attr': { 'class': 'block text-sm font-medium' } }) }}
	{{ form_widget(form.strandFirst, { 'attr': { 'class': 'w-full border-gray-300 rounded-md shadow-sm p-2 mt-1 text-black', 'rows': 2 } }) }}
	{{ form_errors(form.strandFirst) }}
</div>

{% if form.message is defined %}
	<div>
		{{ form_label(form.message, "Message", { 'label_attr': { 'class': 'block text-sm font-medium' } }) }}
		{{ form_widget(form.message, { 'attr': { 'class': 'w-full border-gray-300 rounded-md shadow-sm p-2 mt-1 text-black', 'rows': 4 } }) }}
		{{ form_errors(form.message) }}
	</div>
{% endif %}

<div>
	<button type="submit" class="w-full btn bg-[#283D3B] text-white font-medium py-2 px-4 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2">
		Valider
	</button>
</div>

{{ form_end(form) }}
