{% extends 'base.html.twig' %}

{% block title %}Catégorie des articles{% endblock %}

{% block body %}
    <div class="container mx-auto px-4">
        <h1 class="mt-4 mb-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text-3xl lg:text-4xl dark:text-white">Liste des catégories</h1>

        <div class="overflow-x-auto rounded-lg border border-gray-200">
            <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
                <thead class="ltr:text-left rtl:text-right">
                    <tr>
                        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 text-center">Id</th>
                        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 text-center">Name</th>
                        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 text-center">Slug</th>
                        <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900 text-center">actions</th>
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                {% for article_category in article_categories %}
                    <tr>
                        <td class="whitespace-nowrap px-4 py-2 text-gray-700 text-center">{{ article_category.id }}</td>
                        <td class="whitespace-nowrap px-4 py-2 text-gray-700 text-center">{{ article_category.name }}</td>
                        <td class="whitespace-nowrap px-4 py-2 text-gray-700 text-center">{{ article_category.slug }}</td>
                        <td class="whitespace-nowrap px-4 py-2 text-gray-700 text-center">
                            <button class="inline-flex items-center gap-2 rounded-md px-4 py-2 text-sm text-gray-500 hover:text-gray-700 focus:relative">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10"/>
                                </svg>
                                <a href="{{ path('app_article_category_show', {'id': article_category.id}) }}">Voir</a>
                            </button>
                            <button class="inline-flex items-center gap-2 rounded-md px-4 py-2 text-sm text-gray-500 hover:text-gray-700 focus:relative">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z"/>
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
                                </svg>
                                <a href="{{ path('app_article_category_edit', {'id': article_category.id}) }}">Modifier</a>
                            </button>
                            <button class="inline-flex items-center gap-2 rounded-md bg-white px-4 py-2 text-sm text-blue-500 shadow-sm focus:relative">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"/>
                                </svg>
                                <a href="{{ path('app_article_category_delete', {'id': article_category.id}) }}">Supprimer</a>
                            </button>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">Aucune catégorie trouvée</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="mt-4 mb-4">
            <a href="{{ path('app_article_category_new') }}" class="inline-flex items-center gap-2 rounded-md bg-blue-500 px-4 py-2 text-sm text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/>
                </svg>
                Nouvelle catégorie
            </a>
        </div>
    </div>
{% endblock %}

